# Arquivos sensíveis genéricos
*.pyc
*.log
*.txt
*.pptx
*.xlsx
config.py
temperatura.py

# Pastas de cache Python
__pycache__/
*.py[cod]

# Arquivos específicos do projeto
Mapa_dos_Trilhos/mapa_global.html
Mapa_dos_Trilhos/node.txt
Mapa_dos_Trilhos/Fontes/
release_control.xlsx

# Pastas de desenvolvimento
Área_de_Desenvolvimento/Code_Mapa_dos_Trilhos/config.py
Área_de_Desenvolvimento/--Historic_Code--/config.py.txt
core/config.py

# Logs
Mapa_dos_Trilhos/*.log
Mapa_dos_Trilhos/log.txt
Mapa_dos_Trilhos/Mapa_dos_Trilhos/log.log
